:root {
    --primary: gray;
    --secondary: darkgray;
    --accent: lightgray;
    --pageborder: 100px;
}

html[data-theme="1"] {
    --primary: #4E4694;
    --secondary: #B5E69C;
    --accent: #4EB7D6;
}

html[data-theme="2"] {
    --primary: #7A64A8;
    --secondary: gold;
    --accent: #E92C22;
}

html[data-theme="3"] {
    --primary: #671C73;
    --secondary: #F2EB02;
    --accent: #0678C2;
}

html[data-theme="4"] {
    --primary: #914E91;
    --secondary: #ff99ff;
    --accent: #F01C2E;
}

html,
h2,
p {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

b {
    color: #fff;
}


/* -------------------- background -------------------- */

.background {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--primary);
    filter: brightness(0.2);
/*    background: linear-gradient(135deg, var(--secondary) 0%, var(--primary) 100%);*/
    z-index: -1;
}

.gradient_text {
    color: #fff !important;
    background: -webkit-linear-gradient(323deg, var(--accent) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* -------------------- navbar -------------------- */

nav {
    position: fixed;
    left: var(--pageborder);
    right: var(--pageborder);
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    z-index: 99999 !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav > span {
    display: flex;
    align-items: center;
}

.nav_hr {
    width: 100%;
    margin: 0 10px 0 15px;
    height: 1px;
    border-top: dotted 1px #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#logo {
    height: 50px;
    margin-right: 10px;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.logo_text {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

.nav_icon {
    height: 25px;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    margin-left: 5px;
}

.nav_icon:hover {
    filter: saturate(2) brightness(0.9);
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
    -moz-box-shadow: inset 0px 0px 0px 1px #fff;
    box-shadow: inset 0px 0px 0px 1px #fff;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.randomize_color {
    position: fixed;
    padding: 6px 9px;
    background: #fff;
    top: 61px;
    right: 0px;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    z-index: 0999;
    display: flex;
    align-items: center;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
}

.randomize_color > i {
    color: var(--accent);
    margin-top: 1px;
}

.randomize_color > span {
    display: none;
    font-size: 14px;
    line-height: 14px;
    padding-left: 5px;
}

.randomize_color:hover {
    background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
    color: var(--primary);
    cursor: pointer;
}

.randomize_color:hover > span {
    display: inline-block;
}

.randomize_color:hover > i {
    color: #fff;
}


/* -------------------- intro text -------------------- */

.archiverse_text {
    width: 60vw;
    margin-left: -1.5vw;
}

.text {
    fill: none;
    font-family: 'Staatliches', cursive;
    font-size: 52px;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-dasharray: 10 50;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 20s infinite linear;
    animation: stroke 20s infinite linear;
}

.text:nth-child(4n + 1) {
    stroke: white;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

.text:nth-child(4n + 2) {
    stroke: var(--primary);
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}

.text:nth-child(4n + 3) {
    stroke: var(--secondary);
    -webkit-animation-delay: -12s;
    animation-delay: -12s;
}

.text:nth-child(4n + 4) {
    stroke: var(--accent);
    -webkit-animation-delay: -16s;
    animation-delay: -16s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -50;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -50;
    }
}

/* -------------------- util -------------------- */

.button {
    padding: 13px 26px;
    border: solid 1px #fff;
    background: none;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
}

hr {
    margin: 0 var(--pageborder);
    border: none;
    border-top: dotted 1px #fff;
}

/* -------------------- section -------------------- */

section {
    width: 100vw;
    height: 100vh;
    padding: 50px var(--pageborder);
}

/* -------------------- background images -------------------- */

#bkimg1 {
    width: 100vw;
    height: 150vw;
    margin-bottom: -150vw;
    background-image: url("../assets/b1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

#bkimg2 {
    width: 100vw;
    height: 100vw;
    margin-bottom: -100vw;
    background-image: url("../assets/b2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
}

.background_right {
    position: fixed;
    left: 50vw;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: var(--accent);
    filter: brightness(1);
    opacity: 0.9;
}

/* -------------------- center piece -------------------- */

#center_piece_container {
    position: fixed;
    top: calc(var(--pageborder) * 2);
    bottom: calc(var(--pageborder) * 2);
    right: calc(var(--pageborder) * 3.5);
    left: calc(var(--pageborder) * 3.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}

#center_piece {
    width: 100%;
    margin-bottom: -100px;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
}

/* -------------------- intro -------------------- */

#intro {
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    letter-spacing: 0.1em;
    font-size: 28px;
    font-weight: 400;
    line-height: 2em;
    color: var(--primary);
}

.heading {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.1em;
    font-size: 15vw;
    line-height: 15vw;
    margin: 0;
    z-index: 9999;
}

.gradient_shadow {
    text-shadow: 20px 10px 0px #fff;
}

/* -------------------- about -------------------- */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about > .about_text {
    width: 20%;
}

#about b {
    color: var(--primary);
}

.example {
    width: 55%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    filter: brightness(2) saturate(0.5) opacity(0.1);
}


/* -------------------- visualization -------------------- */

#visualization {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#tooltip {
    position: fixed;
    left: 0;
    top: 0;
    color: var(--primary);
    background: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#tooltip > h2,
#tooltip > p {
    color: var(--primary);
    line-height: 1.2em;
    margin: 0;
}

/* -------------------- samples -------------------- */

#samples {
    position: absolute;
    height: auto !important;
    padding: var(--pageborder);
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 999;
}

#samples > h2 {
    margin-top: 50px;
    color: var(--primary) !important;
}

#samples > p {
    color: var(--accent) !important;
}

.spacer {
    margin-top: calc(10vw + 600px);
}

.gallery-cell {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    opacity: 0.3;
}

.gallery-cell.is-selected,
.gallery-cell:hover {
    opacity: 1;
}

.gallery-cell > img {
    width: 100%;
    margin-bottom: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-cell > p {
    position: absolute;
    left: 20px;
}

/* -------------------- roadmap -------------------- */

#roadmap > h2 {
    text-align: center;
    position: relative;
    z-index: 9999;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timeline {
    position: relative;
    padding: 15px 0 50px 0;
    margin: 0 -30px 100px -30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.timeline_container {
    margin-bottom: -100px;
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
    z-index: 9999;
}

.timeline_container.left {
    left: 0;
}

.timeline_container.right {
    left: 50%;
}

.timeline_container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    right: -5px;
    background: #ffffff;
    border-radius: 5px;
    z-index: 1;
}

.timeline_container.right::after {
    left: -5px;
}

.timeline_container::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 2px;
    top: calc(50% - 1px);
    right: 5px;
    background: #fff;
    z-index: 1;
}

.timeline_container.right::before {
    left: 5px;
}

.timeline_container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 9px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    z-index: 1;
}

.timeline_container.left .date {
    right: -50px;
}

.timeline_container.right .date {
    left: -50px;
}

.timeline_container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: var(--accent);
    border: 2px solid #fff;
    border-radius: 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    z-index: 1;
}

.timeline_container.left .icon {
    right: 210px;
}

.timeline_container.right .icon {
    left: 210px;
}

.timeline_container .content {
    padding: 30px 90px 30px 30px;
    margin: 0 150px 0 0;
    background: linear-gradient(-135deg, var(--secondary) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    border-radius: 5px;
}

.timeline_container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 5px;
    margin: 0 0 0 150px;
    background: linear-gradient(135deg, var(--secondary) 0%, rgba(0, 0, 0, 0) 100%);
}

.timeline_container .content h2 {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

.timeline_container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

/* -------------------- team -------------------- */

#team {
    height: auto;
}

#team > div {
    display: flex;
}

.profiles {
    display: flex;
    margin-left: 25px;
}

.profiles > div {
    padding: 10px;
}

.profiles > div > p {
    margin: 0;
    text-align: center;
}

.profiles > div > img {
    width: 130px;
}

/* -------------------- footer -------------------- */

#footer {
    height: 200px;
    background: #fff;
    color: var(--primary);
    margin-top: 50px;
}


