:root {
    --primary: black;
    --secondary: gray;
    --accent: #FD740D;
    --pageborder: 100px;
}

/*
html[data-theme="1"] {
    --accent: #4EB7D6;
}

html[data-theme="2"] {
    --accent: #E92C22;
}

html[data-theme="3"] {
    --accent: #0678C2;
}

html[data-theme="4"] {
    --accent: #B5E69C;
}

html[data-theme="5"] {
    --primary: #4E4694;
}
*/

html,
h2,
p {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 52px;
}

body {
    margin: 0;
    background: black;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

b {
    color: #fff;
}


/* -------------------- background -------------------- */

.background {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    /*    background: linear-gradient(135deg, var(--secondary) 0%, var(--primary) 100%);*/
    z-index: -1;
}

.gradient_text {
    color: #fff !important;
    background: -webkit-linear-gradient(323deg, var(--accent) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.globe_bkgd {
    width: 100vw;
    height: 100vh;
    margin-bottom: -100vh;
    background-image: url(../assets/matrx.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*    filter: brightness(2);*/
    opacity: 0.1;
    z-index: -1;
}

/* -------------------- navbar -------------------- */

nav {
    position: fixed;
    left: var(--pageborder);
    right: var(--pageborder);
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    z-index: 99999 !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav_left {
    display: flex;
    align-items: center;
    text-decoration: none !important;
}

.nav_right {
    white-space: nowrap;
}

.nav_hr {
    width: 100%;
    margin: 0 10px 0 15px;
    height: 1px;
    border-top: dotted 1px #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#logo {
    height: 50px;
    margin-right: 10px;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.logo_text {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    letter-spacing: 0.1em;
    white-space: nowrap;
}

.nav_icon {
    height: 25px;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    margin-left: 5px;
}

.nav_icon:hover {
    filter: saturate(2) brightness(0.9);
    cursor: pointer;
}

.button:hover {
    /*
    -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
    -moz-box-shadow: inset 0px 0px 0px 1px #fff;
    box-shadow: inset 0px 0px 0px 1px #fff;
*/
    filter: brightness(1.5);
    cursor: pointer;
}

.randomize_color {
    position: fixed;
    padding: 6px 9px;
    background: #fff;
    top: 61px;
    right: 0px;
    border-radius: 5px 0 0 5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    z-index: 0999;
    display: flex;
    align-items: center;
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
}

.randomize_color > i {
    color: var(--accent);
    margin-top: 1px;
}

.randomize_color > span {
    display: none;
    font-size: 14px;
    line-height: 14px;
    padding-left: 5px;
}

.randomize_color:hover {
    background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
    color: var(--primary);
    cursor: pointer;
}

.randomize_color:hover > span {
    display: inline-block;
}

.randomize_color:hover > i {
    color: #fff;
}

/* -------------------- util -------------------- */

.button {
    padding: 13px 26px;
    border: none;
    background: var(--accent);
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
}

hr {
    margin: 0 var(--pageborder);
    border: none;
    border-top: dotted 1px #fff;
}

/* -------------------- section -------------------- */

section {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
    min-height: 100vh;
    padding: 50px var(--pageborder);
}

/* -------------------- background images -------------------- */


#bkimg1 {
    width: 100vw;
    height: 150vw;
    margin-bottom: -150vw;
    background-image: url("../assets/b1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    z-index: -1;
}


/* -------------------- center piece -------------------- */

#center_piece_container {
    position: fixed;
    top: 10vh;
    bottom: 20vh;
    right: 5vw;
    left: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: All 0.5s ease-in-out;
}

#center_piece {
    width: 100%;
    margin-bottom: -50px;
    /*
    -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
*/
    z-index: 99;
}

#mint_button {
    margin-top: -25px;
    z-index: 999;
}

/* -------------------- intro -------------------- */

#intro > .inner {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px var(--pageborder);
}


.wrap {
    min-height: 180vh;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.inner > div {
    padding-top: 50px;
}

.inner h1 {
    font-family: 'Staatliches', cursive;
    font-size: 10vw;
    line-height: 1em;
    font-weight: 400;
    margin: 0;
}

.welcome {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.1em;
    font-size: 32px;
    font-weight: 400;
    line-height: 2em;
    color: white;
}

.heading {
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.1em;
    font-size: 15vw;
    line-height: 15vw;
    margin: 0;
    z-index: 9999;
}

.gradient_shadow {
    text-shadow: 20px 10px 0px #fff;
}

#intro p {
    color: var(--secondary);
    font-size: 18px;
    margin-top: 25px;
    width: 500px;
}

/* -------------------- intro text -------------------- */

.archiverse_text {
    width: 40vw;
    margin-left: -0.5vw;
}

.text_background {
    fill: none;
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.1em;
    font-size: 48px;
    stroke-width: 1px;
    stroke: white;
    opacity: 0.2;
}

.text {
    fill: none;
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.1em;
    font-size: 48px;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-dasharray: 10 50;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 20s infinite linear;
    animation: stroke 20s infinite linear;
}

.text:nth-child(3n + 1) {
    stroke: white;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

.text:nth-child(3n + 2) {
    stroke: white;
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}

.text:nth-child(3n + 3) {
    stroke: white;
    -webkit-animation-delay: -12s;
    animation-delay: -12s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -50;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -50;
    }
}


/* -------------------- columns -------------------- */

.columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.columns > div {
    width: 25vw;
}

.columns p {
    font-size: 1vw;
    line-height: 1.4vw;
}

.columns h2 {
    font-size: 3.5vw;
}

.columns h4 {
    font-size: 2vw;
}

.cube {
    position: absolute;
    height: 100vh;
    left: -20vh;
    /*    opacity: 0.2;*/
}

.benefits {
    list-style-type: none;
    counter-reset: li;
    font-size: 1.3vw;
    line-height: 30px;
}

.benefits > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px white;
}

.benefits li:before {
    counter-increment: li;
    margin-left: -40px;
    position: absolute;
    content: counter(li, decimal-leading-zero);
    font-size: 20px;
    font-weight: 600;
    margin-right: 0.25em;
}

.benefits li:after {
    content: "";
    border-bottom: solid 1px pink;
}


/* -------------------- about -------------------- */

#about b {
    color: var(--accent);
}

.example {
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    filter: brightness(2) saturate(0.5) opacity(0.1);
}


/* -------------------- visualization -------------------- */

#visualization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tooltip {
    position: fixed;
    left: 0;
    top: 0;
    color: var(--primary);
    background: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#tooltip > h4,
#tooltip > p {
    color: var(--primary);
    line-height: 1.2em;
    margin: 0;
}

#tooltip > h4 {
    font-size: 24px;
}

#globe {
    z-index: 99;
}

#tooltip {
    z-index: 999;
}

/* -------------------- samples -------------------- */

#samples {
    height: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-bottom: 50px;
    z-index: 999;
}

.hub-slider {
    position: relative;
}

.hub-slider ul {
    list-style: none;
}


.hub-slider ul li {
    width: calc(35vw + 300px);
    height: 35vw;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    overflow: visible;
}

.hub-slider ul li img {
    width: 35vw;
    height: 100%;
}

.hub-slider ul li p {
    position: absolute;
    bottom: 0;
    left: calc(35vw + 25px);
    width: 200px;
    color: gray;
}

.hub-slider ul li p b {
    color: white;
}

.hub-slider-controls {
    position: absolute;
    z-index: 999;
    left: calc(35vw + 20px);
}

.hub-slider-controls button {
    background: none;
    border: none;
    display: flex;
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

.hub-slider-controls button i:hover {
    color: var(--accent);
    cursor: pointer;
}

.carousel {
    width: 100%;
    height: 35vw;
}

#samples h2 {
    font-size: 48px;
    margin-top: 0px;
    color: white;
}

#samples > p {
    color: var(--accent) !important;
}

.spacer {
    margin-top: calc(10vw + 500px);
}

.gallery-cell {
    width: 30vw;
    margin-right: 10px;
    opacity: 0.3;
}

.gallery-cell img {
    height: 30vw;
}

.gallery-cell.is-selected {
    opacity: 1;
}

.gallery-cell > img {
    width: 100%;
    margin-bottom: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* -------------------- roadmap -------------------- */

#roadmap > h2 {
    text-align: center;
    position: relative;
    z-index: 9999;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#timeline {
    position: relative;
    padding: 15px 0 50px 0;
    margin: 0 -30px 10px -30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

#timeline h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
    /*    line-height: 2em;*/
}

.timeline_container {
    margin-bottom: -50px;
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
    z-index: 9999;
}

.timeline_container.left {
    left: 0;
}

.timeline_container.right {
    left: 50%;
}

.timeline_container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    right: -5px;
    background: #ffffff;
    border-radius: 5px;
    z-index: 1;
}

.timeline_container.right::after {
    left: -5px;
}

.timeline_container::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 2px;
    top: calc(50% - 1px);
    right: 5px;
    background: #fff;
    z-index: 1;
}

.timeline_container.right::before {
    left: 5px;
}

.timeline_container .date {
    border: solid 1px white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 15px);
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    z-index: 1;
}

.timeline_container.left .date {
    right: -50px;
}

.timeline_container.right .date {
    left: -50px;
}

.timeline_container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: var(--accent);
    border: 2px solid #fff;
    border-radius: 40px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    z-index: 1;
}

.timeline_container.left .icon {
    right: 150px;
}

.timeline_container.right .icon {
    left: 150px;
}

.timeline_container .content {
    padding: 30px 90px 30px 30px;
    margin: 0 90px 0 0;
    background: var(--accent);
    position: relative;
    border-radius: 5px;
}

.timeline_container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 5px;
    margin: 0 0 0 90px;
    background: var(--accent);
}

.timeline_container .content h2 {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

.timeline_container .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

/* -------------------- team -------------------- */

#team {
    min-height: auto;
}

#team > div {
    display: flex;
}

.profiles {
    display: flex;
    margin-left: 25px;
}

.profiles > div {
    padding: 10px;
    text-align: center;
}

.profiles > div > p {
    margin: 0;
    text-align: center;
    opacity: 0.5;
}

.profiles h4 {
    margin: 12px 0;
    font-size: 20px;
    text-align: center;
}

.profiles > div > img {
    border-radius: 50%;
    width: 130px;
}

/* -------------------- footer -------------------- */

#footer {
    min-height: 200px;
    background: var(--secondary);
    color: white;
    margin-top: 50px;
}

#footer a:hover {
    color: var(--accent);
}


/* -------------------- footer -------------------- */

#terms {
    padding: 10vw;
}

#terms h1 {
    font-size: 3vw;
}

#terms h4 {
    font-size: 2vw;
    margin: 0;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: solid 1px white;
}

#terms p {
    white-space: pre-wrap;
    color: #b4b4b4;
    font-weight: 300;
}

#mobile_version {
    display: none;
}

#releasing {
    position: fixed;
    left: 10vw;
    right: 10vw;
    top: 10vw;
    bottom: 10vw;
    padding: 0 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(10, 10, 10, 0.9);
    font-size: 3vw;
    text-align: center;
    color: white;
    z-index: 999999;
    display: none;
    border: solid 0.5px white;
}

#releasing a:hover {
    color: var(--accent);
}

#releasing button {
    position: absolute;
    right: 30px;
    top: 30px;
    background: none;
    border: none;
    font-size: 50px;
}

#releasing button:hover {
    color: var(--accent);
    cursor: pointer;
}

@media only screen and (max-width: 991px) {

    section,
    #intro,
    #bkgd,
    #bkimg1,
    hr,
    nav,
    #center_piece_container {
        display: none !important;
    }

    #mobile_version {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20vw;
    }

    #mobile_version p {
        color: #b2b2b2;
    }

}
